<!DOCTYPE html>
<html>
  <head>
    <title>DoggoInventory</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div>
      <h1>Race Name: <%= race.raceName %></h1>
      <p>Size: <%= race.Syze %></p>
      <p>List of Doggos</p>
    </div>
  </body>
</html>
